{% extends 'base.html'%}
{% load static %}
{% block main %}
<!-- img start -->
<div class="row">
    <div class="col-sm-12" id="img1">
        <!-- <div class="center-lines"></div> -->
        <h1
            style="font-size: 80px; margin-left: 300px; margin-top: 200px; font-family: parabolic Text Bold Oblique; color: #f8ecd5;">
            Your Vision,</h1>
        <h1 style="margin-left: 750px; font-size: 70px; font-family: IvyOra Display Regular Italic; color: #f8ecd5;">Our
            Expertise</h1>
    </div>
</div>
<!-- img end -->
<!-- heading start -->
<div class="row">
    <div class="col-sm-12">
        <h1 style="text-align: center; margin-top: 50px; font-family: parabolic Text Bold Oblique;" data-aos="fade-up"
            data-aos-duration="1800">
            <span style="font-size: 30px; margin-right: 400px;">Powering the Future of,</span><br>
            <span style="font-size: 80px; margin-left: 200px;">Construction</span>
        </h1>
        <p style="text-align: center; font-size: 20px; color:rgba(74, 68, 68, 0.700);" data-aos="zoom-in-up"
            data-aos-duration="1500">At
            Smart Build Hub,
            we
            integrate technology with
            construction
            to<br><span style="font-family:parabolic Text Bold Oblique; font-size: px;">
                deliver smarter, faster, and
                more efficient building solutions.</span></p>
    </div>
</div>
<!-- heading end -->
<!-- design start -->
<div class="row" style="margin-top: 110px;">
    <div class="col-sm-5 text-center">
        <h1 style="font-size: 150px; font-family:Georgia, 'Times New Roman', Times, serif ;" data-aos="fade-right"
            data-aos-duration="1200">Design
        </h1>
    </div>
    <!-- <img src="{% static 'img/pluse.svg' %}" alt="" height="100px" id="imgpl"> -->
    <div class="col-sm-2" style="padding-left: 70px; margin-top: 40px;">
        <img src="{% static 'img/pluse.svg' %}" alt="" height="130px" id="imgpl2">
    </div>
    <div class="col-sm-5 text-center">
        <h1 style="font-size: 150px;" data-aos="fade-left" data-aos-duration="1200">Build</h1>
    </div>
</div>
<!-- design end -->
<!-- headding start -->
<div class="row" style="margin-top: 90px;">
    <div class="col-sm-3 text-center">
        <h2 data-aos="flip-left" data-aos-duration="1200"> Professional & Clean</h2>
        <p class="mt-2" data-aos="fade-up" data-aos-duration="3000"><img src="{% static 'img/pluse.svg' %}" alt=""
                height="30px" class="me-3" id="imgpl2">Engineering
            Innovation
        </p>
    </div>
    <div class="col-sm-3 text-center">
        <h2 data-aos="flip-left" data-aos-duration="1200"> Tech & Innovation</h2>
        <p class="mt-2" data-aos="fade-up" data-aos-duration="3000"><img src="{% static 'img/pluse.svg' %}" alt=""
                height="30px" class="me-3" id="imgpl2">Automation
            meets craftsmanship</p>
    </div>
    <div class="col-sm-3 text-center">
        <h2 data-aos="flip-left" data-aos-duration="1200">Bold & Ambitious</h2>
        <p class="mt-2" data-aos="fade-up" data-aos-duration="3000"><img src="{% static 'img/pluse.svg' %}" alt=""
                height="30px" class="me-3" id="imgpl2">Constructing
            tomorrow</p>
    </div>
    <div class="col-sm-3 text-center">
        <h2 data-aos="flip-left" data-aos-duration="1200">Sustainability & Impact</h2>
        <p class="mt-2" data-aos="fade-up" data-aos-duration="3000"><img src="{% static 'img/pluse.svg' %}" alt=""
                height="30px" class="me-3" id="imgpl2">sustainability
            .
        </p>
    </div>
</div>
<!-- heading end -->
<!-- content1 start -->
<div class="row py-5">
    <div class="col-sm-6">
        <div id="img4" class="mt-5">
            <img src="{% static 'img/img2.jpg' %}" alt="" height="400px" width="650px" class=" rounded-5"
                data-aos="fade-right" data-aos-duration="5000">
        </div>
    </div>
    <div class="col-sm-6 text-center">
        <p style="margin-top: 200px;text-align: justify; justify-content: center; 
                            font-weight:700; line-height: 2; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"
            data-aos="fade-up" data-aos-duration="1000">
            Smart
            Build Hub
            is revolutionizing the construction industry
            by integrating cutting-edge
            technology with modern building practices. We aim to simplify complex workflows, enhance
            project visibility, and drive smarter decisions from start to finish.Whether it’s a
            residential complex or a large-scale infrastructure project, Smart Build Hub provides
            tools that streamline planning, automate reporting, and enable real-time collaboration
            between teams.Our mission is simple — to empower builders, architects, and developers
            with intelligent solutions that increase efficiency, reduce costs, and create a safer,
            smarter.</p>
        <p class="text-end" data-aos="fade-left" data-aos-duration="1200"><img src="{% static 'img/pluse.svg' %}" alt=""
                class="me-2" height="20px" id="imgpl2">Smart
            Build Hub</p>
    </div>
</div>
<!-- content1 end -->
<!-- services start -->
<div class="row py-5 mt-5 px-5" style="background-color: #e3e0d6;">
    <div class="col-sm-7">
        <h3 class="mt-3" style="font-family:parabolic Text Bold Oblique ;" data-aos="fade-up" data-aos-duration="1000">
            Built to Serve Your
            Needs,
        </h3>
        <h4 style="margin-left: 120px;" data-aos="fade-up" data-aos-duration="1000"><img
                src="{% static 'img/pluse.svg' %}" alt="" height="30px" class="me-2" id="imgpl2">Our Services
        </h4>
        <div class="row mt-5 pb-4" style="border-bottom: 2px solid #ed6842;">
            <div class="col-sm-6">
                <h2 style="color:#ed6842" data-aos="zoom-in" data-aos-duration="1000">Services</h2>
            </div>
            <div class="col-sm-6 ps-3">
                <h2 style="color:#ed6842" data-aos="zoom-in" data-aos-duration="1000">Details</h2>
            </div>
        </div>
        <div class="row pt-2 service" style="border-bottom: 2px solid #ed6842;">
            <div class="col-sm-6">
                <h4 style="font-weight: 300;" data-aos="fade-right">Residential Construction</h4>
            </div>
            <div class="col-sm-6">
                <h5 style="font-weight: 200;" data-aos="fade-left">Quality Construction</h5>
            </div>
        </div>
        <div class="row pt-2 service" style="border-bottom: 2px solid #ed6842;">
            <div class="col-sm-6">
                <h4 style="font-weight: 300;" data-aos="fade-right">Commercial Buildings</h4>
            </div>
            <div class="col-sm-6">
                <h5 style="font-weight: 200;" data-aos="fade-left">Corporate Infrastructure</h5>
            </div>
        </div>
        <div class="row pt-2 service" style="border-bottom: 2px solid #ed6842;">
            <div class="col-sm-6">
                <h4 style="font-weight: 300;" data-aos="fade-right">Interior Design</h4>
            </div>
            <div class="col-sm-6">
                <h5 style="font-weight: 200;" data-aos="fade-left">Interior Solutions</h5>
            </div>
        </div>
        <div class="row pt-2 service" style="border-bottom: 2px solid #ed6842;">
            <div class="col-sm-6">
                <h4 style="font-weight: 300;" data-aos="fade-right">Renovation & Remodeling</h4>
            </div>
            <div class="col-sm-6">
                <h5 style="font-weight: 200;" data-aos="fade-left">Design Transformation</h5>
            </div>
        </div>
        <div class="row pt-2 service" style="border-bottom: 2px solid #ed6842;">
            <div class="col-sm-6">
                <h4 style="font-weight: 300;" data-aos="fade-right">Architectural Design</h4>
            </div>
            <div class="col-sm-6">
                <h5 style="font-weight: 200;" data-aos="fade-left">Architectural Excellence</h5>
            </div>
        </div>
        <div class="row pt-2 service" style="border-bottom: 2px solid #ed6842;">
            <div class="col-sm-6">
                <h4 style="font-weight: 300;" data-aos="fade-right">Construction Management</h4>
            </div>
            <div class="col-sm-6">
                <h5 style="font-weight: 200;" data-aos="fade-left">Build Coordination</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4 class="text-end mt-4" style="font-family:parabolic Text Bold Oblique;" data-aos="fade-left"
                    data-aos-duration="1200"><img src="{% static 'img/pluse.svg' %}" alt="" class="me-2" id="imgpl2"
                        height="20px">Smart
                    Build
                    Hub
                </h4>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div id="img4" class="ms-5">
            <img src="{% static 'img/img3.jpg'%}" alt="" height="600px" data-aos="fade-left" data-aos-duration="5000">
        </div>
    </div>
</div>
<!-- services end -->
<!-- project start -->
<div class="row py-5  px-5" style="background-color: black;">
    <div class="col-sm-7 text-light">
        <h3 class="mt-3" style="font-family:parabolic Text Bold Oblique ;" data-aos="fade-up" data-aos-duration="1000">
            Built the future,
        </h3>
        <h4 style="margin-left: 120px;" data-aos="fade-up" data-aos-duration="1000"><img
                src="{% static 'img/pluse.svg' %}" alt="" height="30px" class="me-2" id="imgpl2">Our Project
        </h4>
        <p class="mt-5" style="line-height: 2;" data-aos="fade-up" data-aos-duration="1000">Welcome to Smart
            Build Hub (SBH) — our innovative
            construction project
            designed to
            redefine how modern spaces are imagined and built. This project represents our
            commitment to smart planning, efficient building, and sustainable design.

            With a focus on integrating intelligent systems and forward-thinking architecture, our
            goal is to create a space that not only meets today’s needs but adapts to tomorrow’s
            possibilities.</p>
        <h4 class="text-end" style="font-family:'Courier New', Courier, monospace;" data-aos="fade-left"
            data-aos-duration="1200"><img src="{% static 'img/pluse.svg' %}" alt="" class="me-2" height="20px"
                id="imgpl2">Adarsh Singh
        </h4>
        <div id="img4" style="margin-top: 118px;">
            <img src="{% static 'img/img6.jpg' %}" alt="" height="400px" width="550px" class=" rounded-5"
                data-aos="fade-right" data-aos-duration="5000">
        </div>

    </div>
    <div class="col-sm-5">
        <div id="img4">
            <img src="{% static 'img/img4.jpg' %}" alt="" height="400px" width="550px" class=" rounded-5"
                data-aos="fade-left" data-aos-duration="5000">
        </div>
        <div id="img4" class="mt-4"> <img src="{% static 'img/img5.jpg' %}" alt="" height="400px" width="550px"
                class=" rounded-5" data-aos="fade-left" data-aos-duration="3000"></div>
    </div>
    <div class="row">
        <div class="colismi12 text-center">
            <h2 style="margin-top: 40px; margin-left: 50px; font-family: parabolic Text Bold Oblique ;"
                data-aos="zoom-in-up" data-aos-delay="100" data-aos-duration="3000">
                <a href="#" style="text-decoration: none; color: white;">View
                    Project <img src="{% static 'img/pluse.svg' %}" alt="" height="30px" id="imgpl2"></a>
            </h2>
        </div>
    </div>
</div>
<!-- project end -->
<!-- ourteam start -->
<div class="row py-5  px-5">
    <div class="col-sm-12">
        <h3 class="mt-3" style="font-family:parabolic Text Bold Oblique ;" data-aos="fade-up" data-aos-duration="1000">
            Building smarter,
            together.,
        </h3>
        <h4 style="margin-left: 120px;" data-aos="fade-up" data-aos-duration="1000"><img
                src="{% static 'img/pluse.svg' %}" alt="" height="30px" class="me-2" id="imgpl2">Our Team
        </h4>
        <p style="margin-left: 350px; font-family:parabolic Text Bold Oblique ; font-size: large;" data-aos="fade-up"
            data-aos-duration="1000">
            Our 40 employees
            embody our values on a daily basis an in the
            field.Reliability, seriousness, involvement, accessibility, attentiveness...
            These are reassuring qualities, found in each personality and reflected in our work and
            in the trust we have shared with our clients and partners for over 18 years.</p>
    </div>
    <div class="col-sm-12">
        <div id="img7" style="margin-left: 60px;">
            <img src="{% static 'img/our.jpg' %}" alt="" width="1300px" height="500px" class="rounded-5"
                data-aos="zoom-in-up" data-aos-delay="80" data-aos-duration="2000">
        </div>
    </div>
    <div class="col-sm-12 py-5 px-5">
        <p class="display-1"
            style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"
            data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
            It is together, in pulling party </p>
        <p class="display-1"
            style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"
            data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
            of the expertise of each, that
            We</p>
        <p class="display-1"
            style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"
            data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
            let's design,
            that We
            let's imagine, </p>
        <p class="display-1"
            style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"
            data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
            that We let's make it concrete, </p>
        <p class="display-1"
            style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"
            data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
            that We let's shape.</p>
    </div>
</div>
<!-- ourteam end -->
<!-- recent project start -->
<div class="row py-5 px-5" style="background-color: #e3e0d6;">
    <div class="col-sm-12">
        <h3 class="mt-3" style="font-family:parabolic Text Bold Oblique ;" data-aos="fade-up" data-aos-duration="1000">
            Our Latest Project,
        </h3>
        <h4 style="margin-left: 120px;" data-aos="fade-up" data-aos-duration="1000"><img
                src="{% static 'img/pluse.svg' %}" alt="" height="30px" class="me-2" id="imgpl2">See All
        </h4>
    </div>
    <div class="col-sm-7">
        <div id="img4" class="mt-4">
            <img src="{% static 'img/img8.jpg' %}" alt="" height="400px" width="800px" data-aos="zoom-in-up"
                data-aos-delay="100" data-aos-duration="3000">
        </div>
        <h6 class="mt-5"><a href="#" style="text-decoration: none; color: black;" data-aos="fade-right"
                data-aos-duration="1200">25/7/25</a></h6>
        <p style="font-weight: 200; line-height: 2; margin-left: 40px;" data-aos="fade-up" data-aos-duration="1000">At
            Smart Build Hub (SBH), we’re
            proud to unveil our
            latest project — a bold step forward in
            smart, sustainable construction. This new development showcases our commitment to innovation,
            precision, and modern design, blending technology with functionality to create a space that
            serves both people and purpose.</p>
        <h4 class="text-end" style="font-family:'Courier New', Courier, monospace;" data-aos="fade-left"
            data-aos-duration="1200"><img src="{% static 'img/pluse.svg' %}" alt="" class="me-2" height="20px"
                id="imgpl2">Smart Build Hub
        </h4>
    </div>
    <div class="col-sm-5">
        <div class="card mb-3 card1 ms-3" style="max-width: 576px;">
            <div class="row g-0">
                <div class="col-md-7" id="img4">
                    <img src="{% static 'img/img9.jpg' %}" class="img-fluid rounded-5" alt="..">
                </div>
                <div class="col-md-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">25/7/25</h5>
                        <p class="card-text pt-4"
                            style="font-family:'Times New Roman', Times, serif ; font-weight: 700; font-size: larger;">
                            New
                            project was Delivered by Smart Build Hub</p>
                        <h4 class="text-end" style="font-family:'Courier New', Courier, monospace; cursor: pointer;">
                            <img src="{% static 'img/pluse.svg' %}" alt="" class="me-2" height="20px" id="imgpl2">View
                        </h4>

                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 card1 ms-3" style="max-width: 576px;">
            <div class="row g-0">
                <div class="col-md-7" id="img4">
                    <img src="{% static 'img/img10.jpg' %}" class="img-fluid rounded-5" alt="..">
                </div>
                <div class="col-md-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">30/7/25</h5>
                        <p class="card-text pt-4"
                            style="font-family:'Times New Roman', Times, serif ; font-weight: 700; font-size: larger;">
                            New
                            project was Delivered by Smart Build Hub</p>
                        <h4 class="text-end" style="font-family:'Courier New', Courier, monospace; cursor: pointer;">
                            <img src="{% static 'img/pluse.svg' %}" alt="" class="me-2" height="20px" id="imgpl2">View
                        </h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- recent project end-->
<!-- footer1 start-->
<div class="row py-5 px-5 mt-3">
    <div class="col-sm-12">
        <h3 class="mt-3" style="font-family:parabolic Text Bold Oblique ;" data-aos="fade-up" data-aos-duration="1000">
            Let's shape your atmosphere,
        </h3>
        <h4 style="margin-left: 280px;" data-aos="fade-up" data-aos-duration="1000"><img
                src="{% static 'img/pluse.svg' %}" alt="" height="30px" class="me-2" id="imgpl2">Together
        </h4>
    </div>
</div>
<div class="row mx-5">
    <div class="col-sm-6">
        <h4 style="font-family: parabolic Text Bold Oblique ; font-size:xx-large;"><a href="#"
                style="text-decoration: none; color:black;" data-aos="fade-right"
                data-aos-duration="1200">info@smartbuildhub.com</a></h4>
        <h4 style="font-family: parabolic Text Bold Oblique ; font-size:xx-large; margin-top: 40px;"
            data-aos="flip-down" data-aos-duration="2000"><a href="#" style="text-decoration: none; color:#ed6842;">+91
                7007575886</a></h4>
    </div>
    <div class="col-sm-6 text-end">
        <h4 style="font-family: parabolic Text Bold Oblique ; font-size:100px;" data-aos="flip-up"
            data-aos-duration="2000"><a href="#" style="text-decoration: none; color:#ed6842;">Contact</a></h4>
    </div>
</div>
<!-- footer1 end-->
{% endblock %}