{% extends 'base.html' %}
{% load static %}
{% block main %}
<!-- img start -->
<div class="row">
    <div class="col-sm-12" id="img3">
        <h1
            style="font-size: 80px; margin-left: 400px; margin-top: 200px; font-family: parabolic Text Bold Oblique; color: #f8ecd5;">
            Projects,</h1>
        <h1 style="margin-left: 700px; font-size: 70px; font-family: Harmond SemBd Cond Ita; color: #f8ecd5;">We
            Build</h1>
    </div>
</div>
<!-- img end -->
<!-- project start -->
<div class="row">
    <div class="col-sm-12 px-5 py-5">
        <div class="row">
            <div class="col-sm-12">
                <h1
                    style="text-align: center; margin-bottom: 40px;border-bottom: 3px solid  #ed6842; padding: 20px 0px; font-family: parabolic Text Bold Oblique ;">
                    <img src="{% static 'img/pluse.svg' %}" alt="" height="30px" id="imgpl2">
                    Completed Projects
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card text-bg-dark rounded-4 border-0" id="img4">
                    <img src="{% static 'img/pr1.jpg' %}" class="card-img rounded-4" alt="..." height="342px"
                        style="filter: brightness(0.6);">
                    <div class=" card-img-overlay" style="margin-top: 200px;">
                        <h5 class="card-title">Modern Office Complex</h5>
                        <p class="card-text"> A contemporary office space designed for maximum productivity and employee
                            wellbeing..</p>
                        <a href="#" style="text-decoration: none; color: #ed6842;">View more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-bg-dark rounded-4 border-0" id="img4">
                    <img src="{% static 'img/pr2.jpg' %}" class="card-img rounded-4" alt="..." height="342px"
                        style="filter: brightness(0.6);">
                    <div class=" card-img-overlay" style="margin-top: 200px;">
                        <h5 class="card-title">Luxury Residential Tower</h5>
                        <p class="card-text">Premium living spaces with state-of-the-art amenities and stunning city
                            views.</p>
                        <a href="#" style="color: #ed6842; text-decoration: none;">View more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-bg-dark rounded-4 border-0" id="img4">
                    <img src="{% static 'img/pr3.jpg' %}" class="card-img rounded-4" alt="..." height="342px"
                        style="filter: brightness(0.6);">
                    <div class="card-img-overlay" style="margin-top: 200px;">
                        <h5 class="card-title">Sustainable Community Center</h5>
                        <p class="card-text">Eco-friendly architecture designed to bring communities together..</p>
                        <a href="#" style="color: #ed6842; text-decoration: none;">View more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-4">
                <div class="card text-bg-dark rounded-4 border-0" id="img4">
                    <img src="{% static 'img/pr6.jpg' %}" class="card-img rounded-4" alt="..." height="342px"
                        style="filter: brightness(0.6);">
                    <div class="card-img-overlay" style="margin-top: 200px;">
                        <h5 class="card-title">Industrial Manufacturing Hub</h5>
                        <p class="card-text">Cutting-edge industrial facilities designed for optimal workflow and
                            efficiency.</p>
                        <a href="#" style="text-decoration: none; color: #ed6842;">View more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-bg-dark rounded-4 border-0" id="img4">
                    <img src="{% static 'img/pr5.jpg' %}" class="card-img rounded-4" alt="..." height="342px"
                        style="filter: brightness(0.6);">
                    <div class="card-img-overlay" style="margin-top: 200px;">
                        <h5 class="card-title">Waterfront Hotel & Spa</h5>
                        <p class="card-text">Luxury hospitality project featuring elegant design and premium guest
                            experiences..</p>
                        <a href="#" style="color: #ed6842; text-decoration: none;">View more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-bg-dark rounded-4 border-0" id="img4">
                    <img src="{% static 'img/pr4.jpg' %}" class="card-img rounded-4" alt="..." height="342px"
                        style="filter: brightness(0.6);">
                    <div class="card-img-overlay" style="margin-top: 200px;">
                        <h5 class="card-title">Urban Mixed-Use Development</h5>
                        <p class="card-text">Integrated commercial and residential spaces designed for modern urban
                            living..</p>
                        <a href="#" style="color: #ed6842; text-decoration: none;">View more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-12">
                <h1
                    style="text-align: center; margin-bottom: 40px;border-bottom: 3px solid  #ed6842; padding: 20px 0px; font-family: parabolic Text Bold Oblique ;">
                    <img src="{% static 'img/pluse.svg' %}" alt="" height="30px" id="imgpl2">
                    Ongoing Projects
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card text-bg-dark rounded-4 border-0" id="img4">
                    <img src="{% static 'img/prc1.jpg' %}" class="card-img rounded-4" alt="..." height="342px"
                        style="filter: brightness(0.6);">
                    <div class="card-img-overlay" style="margin-top: 200px;">
                        <h5 class="card-title">Modern Office Complex</h5>
                        <p class="card-text"> A contemporary office space designed for maximum productivity and employee
                            wellbeing..</p>
                        <a href="#" style="text-decoration: none; color: #ed6842;">View more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-bg-dark rounded-4 border-0" id="img4">
                    <img src="{% static 'img/prc2.jpg' %}" class="card-img rounded-4" alt="..." height="342px"
                        style="filter: brightness(0.6);">
                    <div class="card-img-overlay" style="margin-top: 200px;">
                        <h5 class="card-title">Luxury Residential Tower</h5>
                        <p class="card-text">Premium living spaces with state-of-the-art amenities and stunning city
                            views.</p>
                        <a href="#" style="color: #ed6842; text-decoration: none;">View more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-bg-dark rounded-4 border-0" id="img4">
                    <img src="{% static 'img/prc3.jpg' %}" class="card-img rounded-4" alt="..." height="342px"
                        style="filter: brightness(0.6);">
                    <div class="card-img-overlay" style="margin-top: 200px;">
                        <h5 class="card-title">Sustainable Community Center</h5>
                        <p class="card-text">Eco-friendly architecture designed to bring communities together..</p>
                        <a href="#" style="color: #ed6842; text-decoration: none;">View more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-4">
                <div class="card text-bg-dark rounded-4 border-0" id="img4">
                    <img src="{% static 'img/prc6.jpg' %}" class="card-img rounded-4" alt="..." height="342px"
                        style="filter: brightness(0.6);">
                    <div class="card-img-overlay" style="margin-top: 200px;">
                        <h5 class="card-title">Industrial Manufacturing Hub</h5>
                        <p class="card-text">Cutting-edge industrial facilities designed for optimal workflow and
                            efficiency.</p>
                        <a href="#" style="text-decoration: none; color: #ed6842;">View more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-bg-dark rounded-4 border-0" id="img4">
                    <img src="{% static 'img/prc5.jpg' %}" class="card-img rounded-4" alt="..." height="342px"
                        style="filter: brightness(0.6);">
                    <div class="card-img-overlay" style="margin-top: 200px;">
                        <h5 class="card-title">Waterfront Hotel & Spa</h5>
                        <p class="card-text">Luxury hospitality project featuring elegant design and premium guest
                            experiences..</p>
                        <a href="#" style="color: #ed6842; text-decoration: none;">View more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-bg-dark rounded-4 border-0" id="img4">
                    <img src="{% static 'img/prc4.jpg' %}" class="card-img rounded-4" alt="..." height="342px"
                        style="filter: brightness(0.6);">
                    <div class="card-img-overlay" style="margin-top: 200px;">
                        <h5 class="card-title">Urban Mixed-Use Development</h5>
                        <p class="card-text">Integrated commercial and residential spaces designed for modern urban
                            living..</p>
                        <a href="#" style="color: #ed6842; text-decoration: none;">View more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- project end -->
{% endblock %}