{% extends 'base.html' %}
{% load static %}
{% block main %}
<!-- service start -->
<div class="row">
    <div class="col-sm-12">
        <div class="row" style="background-color: #faf4ec;">
            <div class="col-sm-12 text-center" style="padding: 100px;">
                <h6 style="font-family: parabolic Text Bold Oblique;">PROFESSIONAL CONSTRUCTION SERVICES</h6>
                <h1 class="display-2 mt-4">Building <span style="color: #ed6842;">Excellence</span>,</h1>
                <h1 class="display-4">Crafting <span style="color: #ed6842;">Dreams</span></h1>
                <p class="mt-4" style="font-family:parabolic Text Bold Oblique;;">We offer comprehensive construction
                    solutions tailored to your unique needs,<br>
                    delivered
                    with
                    exceptional craftsmanship and attention to every detail.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h1
                    style="text-align: center; margin-bottom: 40px;border-bottom: 3px solid  #ed6842; padding: 20px 0px; font-family: parabolic Text Bold Oblique ; margin-top: 20px;">
                    <img src="{% static 'img/pluse.svg' %}" alt="" height="30px" id="imgpl2">
                    Residential Construction
                </h1>
            </div>
        </div>
        <div class="row px-5">
            <div class="col-sm-7" style="font-family: parabolic Text Bold Oblique;">
                <p style="text-align: justify;justify-content: center;">At Smart Build Hub, we specialize in
                    high-quality residential construction services that turn your
                    dream home into a reality. From initial design to final touches, our team works closely with
                    homeowners, architects, and designers to deliver beautiful, functional living spaces tailored to
                    your lifestyle.

                    Whether you're building a new home from the ground up, remodeling an existing space, or adding
                    extensions, we ensure every project is completed on time, within budget, and to the highest
                    standards of craftsmanship.We focus on durability, energy efficiency, and modern design while
                    maintaining compliance with local building codes and safety regulations.</p>
                <ul type="none">
                    <li style="padding-bottom: 30px;"><i class="fa-solid fa-check pe-4"
                            style="color: #ed6842;"></i>Custom
                        Home Building</li>

                    <li style="padding-bottom: 30px;"><i class="fa-solid fa-check pe-4" style="color: #ed6842;"></i>Home
                        Additions & Extensions</li>

                    <li style="padding-bottom: 30px;"><i class="fa-solid fa-check pe-4"
                            style="color: #ed6842;"></i>Kitchen &
                        Bathroom Renovations</li>

                    <li style="padding-bottom: 30px;"><i class="fa-solid fa-check pe-4"
                            style="color: #ed6842;"></i>Interior
                        & Exterior Remodeling</li>

                    <li style="padding-bottom: 30px;"><i class="fa-solid fa-check pe-4"
                            style="color: #ed6842;"></i>Foundation & Framing</li>

                    <li style="padding-bottom: 30px;"><i class="fa-solid fa-check pe-4"
                            style="color: #ed6842;"></i>Roofing,
                        Flooring & Finishing Work</li>
                </ul>
            </div>
            <div class="col-sm-5">
                <div class="card text-bg-dark rounded-4 border-0" id="img4">
                    <img src="{% static 'img/sr1.jpg' %}" class="card-img rounded-4" alt="..." height="342px"
                        style="filter: brightness(0.6);">
                    <div class="card-img-overlay" style="margin-top: 250px;">
                        <h5 class="card-title">Residential Construction</h5>
                        <!-- <p class="card-text"></p> -->
                        <a href="#" style="color: #ed6842; text-decoration: none;">View more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h1
                    style="text-align: center; margin-bottom: 40px;border-bottom: 3px solid  #ed6842; padding: 20px 0px; font-family: parabolic Text Bold Oblique ; margin-top: 20px;">
                    <img src="{% static 'img/pluse.svg' %}" alt="" height="30px" id="imgpl2">
                    Commercial Buildings
                </h1>
            </div>
        </div>
        <div class="row px-5">
            <div class="col-sm-7" style="font-family: parabolic Text Bold Oblique;">
                <p style="text-align: justify;justify-content: center;">At Smart Build Hub, we specialize in designing
                    and constructing commercial buildings that combine functionality, durability, and modern aesthetics.
                    Whether it's office spaces, retail outlets, or industrial facilities, our team ensures every project
                    meets high standards of safety and efficiency. From planning to final touches, we deliver tailored
                    solutions that align with your business goals.
                    We offer expert solutions for all types of commercial building projects, including offices, shopping
                    centers, warehouses, and more. Our designs focus on maximizing space, energy efficiency, and
                    long-term value for your investment..</p>
                <ul type="none">
                    <li style="padding-bottom: 30px;"><i class="fa-solid fa-check pe-4"
                            style="color: #ed6842;"></i>Office Complexes</li>

                    <li style="padding-bottom: 30px;"><i class="fa-solid fa-check pe-4"
                            style="color: #ed6842;"></i>Retail & Hospitality</li>

                    <li style="padding-bottom: 30px;"><i class="fa-solid fa-check pe-4"
                            style="color: #ed6842;"></i>Industrial Facilities
                        Learn More</li>

                    <li style="padding-bottom: 30px;"><i class="fa-solid fa-check pe-4"
                            style="color: #ed6842;"></i>Focus on Quality & Innovation</li>

                    <li style="padding-bottom: 30px;"><i class="fa-solid fa-check pe-4" style="color: #ed6842;"></i>.
                        Client-Centric Approach:</li>

                    <li style="padding-bottom: 30px;"><i class="fa-solid fa-check pe-4"
                            style="color: #ed6842;"></i>Sustainability Highlight</li>
                </ul>
            </div>
            <div class="col-sm-5">
                <div class="card text-bg-dark rounded-4 border-0" id="img4">
                    <img src="{% static 'img/sr2.jpg' %}" class="card-img rounded-4" alt="..." height="342px"
                        style="filter: brightness(0.6);">
                    <div class="card-img-overlay" style="margin-top: 250px;">
                        <h5 class="card-title"> Commercial Buildings</h5>
                        <!-- <p class="card-text"></p> -->
                        <a href="#" style="color: #ed6842; text-decoration: none;">View more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h1
                    style="text-align: center; margin-bottom: 40px;border-bottom: 3px solid  #ed6842; padding: 20px 0px; font-family: parabolic Text Bold Oblique ; margin-top: 20px;">
                    <img src="{% static 'img/pluse.svg' %}" alt="" height="30px" id="imgpl2">
                    Interior Design
                </h1>
            </div>
        </div>
        <div class="row px-5">
            <div class="col-sm-7" style="font-family: parabolic Text Bold Oblique;">
                <p style="text-align: justify;justify-content: center;">At Smart Build Hub, our interior design services
                    are tailored to transform spaces into functional, stylish, and inspiring environments. Whether for
                    residential or commercial projects, we blend creativity with practicality to reflect each client’s
                    unique vision. From concept development and space planning to material selection and final touches,
                    our team ensures every detail is thoughtfully executed. We prioritize comfort, efficiency, and
                    aesthetic appeal—creating interiors that not only look beautiful but also enhance the way you live
                    and work.At Smart Build Hub, we craft interior spaces that elevate everyday experiences. Our team
                    blends form and function to deliver interiors that are elegant, efficient, and tailored to your
                    needs. Whether you're designing a welcoming home or a dynamic commercial space, we focus on quality
                    finishes, smart layouts, and timeless aesthetics that leave a lasting impression.

                    .</p>
                <ul type="none">
                    <li style="padding-bottom: 30px;"><i class="fa-solid fa-check pe-4"
                            style="color: #ed6842;"></i>Space Planning</li>

                    <li style="padding-bottom: 30px;"><i class="fa-solid fa-check pe-4"
                            style="color: #ed6842;"></i>Custom Furnishings</li>

                    <li style="padding-bottom: 30px;"><i class="fa-solid fa-check pe-4"
                            style="color: #ed6842;"></i>Material Selection</li>

                    <li style="padding-bottom: 30px;"><i class="fa-solid fa-check pe-4"
                            style="color: #ed6842;"></i>Elegant & Professional</li>

                    <li style="padding-bottom: 30px;"><i class="fa-solid fa-check pe-4"
                            style="color: #ed6842;"></i>Creative & Client-Focused</li>

                    <li style="padding-bottom: 30px;"><i class="fa-solid fa-check pe-4"
                            style="color: #ed6842;"></i>Commercial Interior Design Highlight</li>
                </ul>
            </div>
            <div class="col-sm-5">
                <div class="card text-bg-dark rounded-4 border-0" id="img4">
                    <img src="{% static 'img/sr3.jpg' %}" class="card-img rounded-4" alt="..." height="342px"
                        style="filter: brightness(0.6);">
                    <div class="card-img-overlay" style="margin-top: 250px;">
                        <h5 class="card-title"> Interior Design</h5>
                        <!-- <p class="card-text"></p> -->
                        <a href="#" style="color: #ed6842; text-decoration: none;">View more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h1
                    style="text-align: center; margin-bottom: 40px;border-bottom: 3px solid  #ed6842; padding: 20px 0px; font-family: parabolic Text Bold Oblique ; margin-top: 20px;">
                    <img src="{% static 'img/pluse.svg' %}" alt="" height="30px" id="imgpl2">
                    Renovation & Remodeling
                </h1>
            </div>
        </div>
        <div class="row px-5">
            <div class="col-sm-7" style="font-family: parabolic Text Bold Oblique;">
                <p style="text-align: justify;justify-content: center;">At Smart Build Hub, our renovation and
                    remodeling services are designed to transform your existing spaces into modern, functional, and
                    visually appealing environments. Whether you're updating a home, office, or commercial property, we
                    handle everything from minor upgrades to full-scale transformations. With a focus on quality
                    craftsmanship, innovative design, and attention to detail, we work closely with clients to deliver
                    results that meet their needs, reflect their style, and add long-term value to their propertyEvery
                    renovation is an opportunity to reimagine what's possible. We work closely with clients to
                    understand their needs, offering personalized renovation plans that maximize space, style, and
                    efficiency. From demolition to the final coat of paint, we manage the entire process with
                    transparency, quality, and attention to detail.</p>
                <ul type="none">
                    <li style="padding-bottom: 30px;"><i class="fa-solid fa-check pe-4" style="color: #ed6842;"></i>
                        Professional & Reliable</li>

                    <li style="padding-bottom: 30px;"><i class="fa-solid fa-check pe-4" style="color: #ed6842;"></i>.
                        Residential Focus:</li>

                    <li style="padding-bottom: 30px;"><i class="fa-solid fa-check pe-4"
                            style="color: #ed6842;"></i>Commercial Remodeling</li>

                    <li style="padding-bottom: 30px;"><i class="fa-solid fa-check pe-4" style="color: #ed6842;"></i>
                        Transformative & Client-Centered</li>

                    <li style="padding-bottom: 30px;"><i class="fa-solid fa-check pe-4"
                            style="color: #ed6842;"></i>Historic Renovations</li>

                    <li style="padding-bottom: 30px;"><i class="fa-solid fa-check pe-4"
                            style="color: #ed6842;"></i>Roofing,
                        Commercial Retrofits</li>
                </ul>
            </div>
            <div class="col-sm-5">
                <div class="card text-bg-dark rounded-4 border-0" id="img4">
                    <img src="{% static 'img/sr4.jpg' %}" class="card-img rounded-4" alt="..." height="342px"
                        style="filter: brightness(0.6);">
                    <div class="card-img-overlay" style="margin-top: 250px;">
                        <h5 class="card-title"> Renovation & Remodeling</h5>
                        <!-- <p class="card-text"></p> -->
                        <a href="#" style="color: #ed6842; text-decoration: none;">View more</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<!-- service end -->

{% endblock %}