{% extends 'contractorbase.html' %}
{% block main %}
<!-- MAIN -->
<main>
    <h1 class="title" style="color: #1775F1;">--Dashboard--</h1>
    <div class="info-data">
        <div class="card" style="border-bottom: 6px solid #1775F1;">
            <div class="head">
                <div>
                    <p>Assigned Project</p>
                    <h2>1</h2>
                    <small>Total Projects currently assigned </small>
                </div>
            </div>
            <span class="progress" data-value="20%"></span>
            <span class="label">20%</span>
        </div>
        <div class="card" style="border-bottom: 6px solid #1775F1;">
            <div class="head">
                <div>
                    <p>Applications Submitted</p>
                    <h2>23</h2>
                    <small>All proposals you've Submitted</small>
                </div>
            </div>
            <span class="progress" data-value="60%"></span>
            <span class="label">60%</span>
        </div>
        <div class="card" style="border-bottom: 6px solid #1775F1;">
            <div class="head">
                <div>
                    <p>Progress Updates</p>
                    <h2>465</h2>
                    <small>update shared on your projects</small>
                </div>
            </div>
            <span class="progress" data-value="30%"></span>
            <span class="label">30%</span>
        </div>
        <div class="card" style="border-bottom: 6px solid #1775F1;">
            <div class="head">
                <div>
                    <p>Feedback Received</p>
                    <h2>235</h2>
                    <small>Customer reviews and ratings</small>
                </div>
            </div>
            <span class="progress" data-value="80%"></span>
            <span class="label">80%</span>
        </div>
        <div class="card" style="border-bottom: 6px solid #1775F1;">
            <div class="head">
                <div>
                    <p>Average ratings</p>
                    <h2>None/5</h2>
                    <small>Based on 0 Feedback</small>
                </div>
            </div>
            <span class="progress" data-value="70%"></span>
            <span class="label">70%</span>
        </div>
        <div class="card" style="border-bottom: 6px solid #1775F1;">
            <div class="head">
                <div>
                    <p>Approved Applications</p>
                    <h2>0</h2>
                    <small>Approved projects proposals</small>
                </div>
            </div>
            <span class="progress" data-value="29%"></span>
            <span class="label">29%</span>
        </div>
        <div class="card" style="border-bottom: 6px solid #1775F1;">
            <div class="head">
                <div>
                    <p>Rejected Applications</p>
                    <h2>0</h2>
                    <small>Proposals that were not accepted</small>
                </div>
            </div>
            <span class="progress" data-value="35%"></span>
            <span class="label">35%</span>
        </div>
        <div class="card" style="border-bottom: 6px solid #1775F1;">
            <div class="head">
                <div>
                    <p>Feedback Received</p>
                    <h2>235</h2>
                    <small>Customer reviews and ratings</small>
                </div>
            </div>
            <span class="progress" data-value="33%"></span>
            <span class="label">33%</span>
        </div>
    </div>

</main>
<!-- MAIN -->
{% endblock %}